
 .mainDiv {
  width: 65%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  position: relative;
}

.navi {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.main_icon, .home_icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main_icon:hover, .home_icon:hover {
  transform: scale(1.1); 
}

.headText {
  color: #e3e3e3;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}

/* Мобильное меню */
.nav__mobile-wrapper {
  display: none ;
  height: 30px;
  width: 30px;
  transition: all 0.4s linear;
  cursor: pointer;
  position: relative;
}

.nav__mobile-target {
  height: 2px;
  width: 100%;
  background-color: white; 
  position: relative;
  transition: all 0.2s linear;
}

.nav__mobile-wrapper.active .nav__mobile-target {
  transform: rotate(45deg);
}

.nav__mobile-target::after,
.nav__mobile-target::before {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white; 
}

.nav__mobile-target::after {
  top: -7px;
}

.nav__mobile-target::before {
  bottom: -7px;
}

.nav__mobile-wrapper.active .nav__mobile-target::after {
  display: none;
}

.nav__mobile-wrapper.active .nav__mobile-target::before {
  top: 0;
  transform: rotate(90deg);
}

.nav__mobile-menu {
  position: absolute;
  top: 35px; 
  flex-direction:row;
  gap: 10px; 
  background-color: rgba(0, 0, 0, 0.9); 
  padding: 10px 15px; 
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  display: none;

}

.nav__mobile-wrapper.active .nav__mobile-menu {
  display: flex;
}



@media (max-width: 750px) {
  .navi {
    display: none;
  }

  .nav__mobile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    margin-left: auto;
    margin-right: auto; 
  }

  .headText {
    font-size: 25px;
  }
}
