

  .MP_breadcrumbs{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
  }

  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .MP_Finder {
    display: flex;
    justify-content: center;
  }


  .space{
    width: 85%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

  }
  
  .container{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px)); 
    gap: 20px 25px; 
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
  }

  /* .container{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 25px;
    margin-top: 20px;
  } */