

.MP_breadcrumbs{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
  }

  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .MP_Finder_Buttoms {
    margin-top: 15px;
    display: flex;
    justify-content: space-between; /* Пространство между элементами */
    align-items: center; /* Выравнивание по высоте */
    max-width: 65%; /* Ограничение ширины блока */
    gap: 0px; /* Расстояние между элементами */
    margin-left: auto;
    margin-right: auto;
}


  .space{
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

  }
  
  .container{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 280px)); 
    gap: 20px 25px; 
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
  }

  /* .container{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 25px;
    margin-top: 20px;
  } */